worksheet {
  display: block;
  margin: 2rem 0;
}

.worksheet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: start;
}

.worksheet-item {
  width: 300px;
}

.worksheet-board {
  width: 300px;
  height: 300px;
}

.worksheet-item.disabled {
  opacity: 0.45;
  pointer-events: none;
}

.worksheet-next {display:block;margin:auto;margin-top:3rem;font-size:2rem;padding:1rem;}