worksheet {
  display: block;
  margin: 2rem 0;
}

.worksheet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: start;
}

.worksheet-item {
  width: 300px;
}

.worksheet-label {
  text-align: center;
  margin-bottom: 6px;
  font-size: 14px;
  color: #ddd;
}

.worksheet-board {
  width: 300px;
  height: 300px;
}