body {
  width: 60vw;
  margin: 0 auto; /* centers the body */
  padding-top: 2rem
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    margin: 0; /* removes centering gap */
  }
}

a,a:visited,a:hover,a:active{color:#333}
h1.header img{height:1.5em;margin-right:.5rem}

.post-item {margin-bottom: 3rem;}
      
h1, h2, h3, h4 {font-weight: 900;}
h3.post-item {font-weight: 900;}
h1.header {font-weight: 900;}

h3,
    .post-item h3,
    .post-item h3 a {
    font-weight: 900;
    }